body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 10px;
  font-family: '-apple-system','Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  margin:auto;
  max-width: 500px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 20px;
  background:#f5f5f5;
}

#dadagrams {
  background: #e5e5e5;
  border-radius: 5px;
}

#dadagrams > a {
  color: black;
}

h1{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}

h2{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

.grid{
  display: grid;
  grid-template-columns: 125px 125px 125px 125px;
  width: 100%;
  user-select: none;
  margin-top: 20px;
}

.cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 125px;
}

.number {
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.number:nth-child(1), 
.number:nth-child(2), 
.number:nth-child(3) {
  border-top: 2px solid black;
}

.number:nth-child(1), 
.number:nth-child(5), 
.number:nth-child(9) {
  border-left: 2px solid black;
}

.sum {
  color: #aba2a2;
}

.cell.selected {
  background-color: green;
}

.cell.removed {
  background-color: red;
}

.cell.ok {
  color: black;
}